$primary-orange: hsl(25, 97%, 53%);
$header-text-color: hsl(0, 100%, 100%);
$light-grey: hsl(217, 12%, 63%);
$component-bg: hsl(213, 19%, 18%);
$body-bg: hsl(216, 12%, 8%);

$font-size: 15px;

$font-weights: (
  "normal": 400,
  "bold": 700,
);

@mixin flexBox {
  display: flex;
  justify-content: center;
  align-items: center;
}
